#input{
    display: flex;
    justify-content: space-evenly;
}

#inputid{
    height: 50px;
    width: 400px;
    text-align: center;
    font-size: 30px;
}

#result{
    height: 50px;
    width: 400px;
    text-align: center;
    font-size: 30px;
}

#btn{
    display: flex;
    justify-content: space-evenly;
}


#submit{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 100px 0px 0px;
}

#reset{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
}